<main class="detalle-main">
  <section class="detalle-section">
    @if (proyecto()) {
      <h1>{{ proyecto()?.titulo }}</h1>
      <p class="detalle-desc">{{ proyecto()?.descripcion }}</p>

      @if (tieneCapturas()) {
        <app-carrusel-capturas [capturas]="proyecto()!.capturas" />
      }

      @if (proyecto()?.linkDemo) {
        <div class="visit-link">
          <a [href]="proyecto()!.linkDemo" target="_blank" class="btn-visitar" rel="noopener noreferrer">Visitar proyecto →</a>
        </div>
      }
    } @else {
      <h1>Proyecto no encontrado</h1>
      <p>El proyecto que buscas no existe o ha sido eliminado.</p>
    }
    <div class="back-link">
      <a [routerLink]="['/']" fragment="proyectos" class="btn-back">← Volver a Proyectos</a>
    </div>
  </section>
</main>
